<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <script src="/static/assets/htmx.min.js"></script>
    <script src="https://kit.fontawesome.com/9687b7dff4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="shortcut icon" href="/static/images/icon.png" type="image/x-icon">
</head>
<body>
    {% block contents %}
    {% endblock %}
</body>
</html>